<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <!-- Moment.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>Burgers</title>
</head>
<body>
    <div class = "container">
    <form id = "burger-form">
        <input id = "burger-input">
        <button type = "submit">Submit</button>
        <button id = "eat-btn">EAT</button>
    </form>
    <div class = "row">
        <div class = "col-6 prepared-list">
            <h1>PREPARED BURGERS</h1>
            <div class = "prepared"></div>
        </div>
        <div class = "col-6 devoured">
            <h1>DEVOURED BURGERS</h1>
            <div class = "devoured-list"></div>
        </div>
    </div>
</div>
<script src = "../js/main.js"></script>
</body>
</html>